{{#section 'head'}}
	<link rel="stylesheet" href="/chartjs/Chart.min.css">
{{/section}}
<h2>{{local.dashboard.title}}</h2>

<div class='statistics'>
	<div class='statistic'>
		<a href="/visitors" class='visits'>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100pt" height="100pt" viewBox="0 0 120 120" version="1.1">
<g id="surface1">
<path  style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 21.679688 36.960938 C 21.679688 27.839844 29.078125 20.441406 38.199219 20.441406 C 47.28125 20.441406 54.679688 27.839844 54.679688 36.960938 C 54.679688 46.078125 47.28125 53.480469 38.199219 53.480469 C 29.078125 53.480469 21.679688 46.078125 21.679688 36.960938 Z M 21.679688 36.960938 " class="visitor"/>
<path class="visitor" style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 52.71875 95.558594 C 52.71875 96.960938 53 98.320312 53.441406 99.558594 L 12 99.558594 C 9.800781 99.558594 8 97.800781 8 95.558594 L 8 87.28125 C 8 70.679688 21.558594 57.121094 38.160156 57.121094 C 47.039062 57.121094 55.039062 61.039062 60.558594 67.160156 C 55.679688 73 52.71875 80.519531 52.71875 88.71875 Z M 52.71875 95.558594 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(84.705882%,82.352941%,82.352941%);fill-opacity:1;" d="M 86.359375 60.679688 C 94.28125 60.679688 100.71875 54.238281 100.71875 46.320312 C 100.71875 38.398438 94.28125 31.960938 86.359375 31.960938 C 78.480469 31.960938 72 38.398438 72 46.320312 C 72 54.238281 78.480469 60.679688 86.359375 60.679688 Z M 86.359375 60.679688 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(84.705882%,82.352941%,82.352941%);fill-opacity:1;" d="M 86.359375 63.078125 C 72.199219 63.078125 60.71875 74.558594 60.71875 88.71875 L 60.71875 95.558594 C 60.71875 97.800781 62.480469 99.558594 64.71875 99.558594 L 108 99.558594 C 110.238281 99.558594 112 97.800781 112 95.558594 L 112 88.71875 C 112 74.558594 100.519531 63.078125 86.359375 63.078125 Z M 86.359375 63.078125 "/>
</g>
</svg>
			<h3>{{visits}}</h3>
			<p>{{local.dashboard.visits}}</p>
		</a>
	</div>
	<div class='statistic'>
		<a href="/sections" class='sections'>
			<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100pt" height="100pt" viewBox="0 0 120 120" version="1.1">
<g id="surface1">
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(84.705882%,82.352941%,82.352941%);fill-opacity:1;" d="M 46.761719 69.519531 C 46.761719 49.578125 63.179688 33.359375 83.359375 33.359375 C 83.875 33.359375 84.371094 33.414062 84.878906 33.433594 L 84.878906 29.519531 C 84.878906 28.441406 84.441406 27.398438 83.679688 26.640625 L 65.839844 9.160156 C 65.078125 8.398438 64.078125 8 63.039062 8 L 12 8 C 9.800781 8 8 9.800781 8 12 L 8 108 C 8 110.199219 9.800781 112 12 112 L 80.878906 112 C 83.078125 112 84.878906 110.199219 84.878906 108 L 84.878906 105.523438 C 84.371094 105.542969 83.875 105.597656 83.359375 105.597656 C 63.179688 105.597656 46.761719 89.414062 46.761719 69.519531 Z M 46.761719 69.519531 "/>
<path class='active-check' style=" stroke:none; fill-opacity:1;" d="M 83.359375 41.359375 C 67.601562 41.359375 54.761719 54 54.761719 69.519531 C 54.761719 85 67.601562 97.601562 83.359375 97.601562 C 99.160156 97.601562 112 85 112 69.519531 C 112 54 99.160156 41.359375 83.359375 41.359375 Z M 95.121094 66.078125 L 82.679688 78.519531 C 81.960938 79.28125 80.921875 79.679688 79.878906 79.679688 C 78.800781 79.679688 77.800781 79.28125 77.039062 78.519531 L 71.640625 73.121094 C 70.078125 71.558594 70.078125 69.039062 71.640625 67.480469 C 73.199219 65.917969 75.71875 65.921875 77.28125 67.480469 L 79.878906 70.039062 L 89.480469 60.441406 C 91.039062 58.878906 93.558594 58.878906 95.121094 60.441406 C 96.679688 62 96.679688 64.519531 95.121094 66.078125 Z M 95.121094 66.078125 "/>
</g>
</svg>
			<h3><span class='active-sections'>{{activeSections}}</span> / {{count}}</h3>
			<p>{{local.dashboard.activeSections}}</p>
		</a>
	</div>
	<div class='statistic city-statistics'>
		<p>{{local.dashboard.country}}</p>
		<canvas id="chart-area"></canvas>
	</div>
	<div class='statistic traffic-statistics'>
		<p>Traffic</p>
		<canvas id="chart-area-traffic"></canvas>
	</div>

</div>

<article class="create-section">
	<img src="img/classic-card.png" alt="Create Section">
	<h3>{{local.dashboard.createSectionBlock.headline}}</h3>
	<p>{{local.dashboard.createSectionBlock.paragraph}}</p>
	<div class="btn btn-cs"><a href="/choose">{{local.dashboard.createSectionBlock.button}}</a></div>
</article>

{{#section 'jquery'}}
	<script src='/js/moment-with-locales.js'></script>
	<script src='/js/moment.js'></script>
	

	<script src="/chartjs/Chart.min.js"></script>
	<script src="/js/dashboard.js"></script>
{{/section}}